---
import '../assets/css/global.scss'
import Navigation from "../components/Navigation.astro";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navigation />

		<h1>About</h1>
		<h2>There is something creepy and crawly going on over here...</h2>
		<p>Amazing, isnt it?</p>
	</body>
</html>
