---
import '../assets/css/global.scss'
import Navigation from '../components/Navigation.astro';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />

		<!-- font and icon imports -->
		<link rel="stylesheet" href="https://use.typekit.net/yhr4fyr.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css"/>

		<style lang="scss" />
		<title>Astro</title>
	</head>
	<body>
		<Navigation />
		<h1>Erell Institute</h1>
	</body>
</html>
