---
import '../assets/css/navigation.scss'
import logo from '../assets/img/logo.svg'
---
<nav>
	<a href="/"><img src={ logo.src }></img></a>

	<div id=nav__lower>
		<div id="nav__left">
			Left Content
		</div>
	
		<div id="nav__middle">
			<a href="/about/">About</a>
			<a href="/education/">Education</a>
			<a href="/research/">Research</a>
			<a href="/photos/">Photo Gallery</a>
			<a href="/support/">Support</a>
			<a href="/donate/">Donate</a>
		</div>
	
		<div id="nav__right">
			Socials go here
		</div>
	</div>
</nav>