---
import '../assets/css/navigation.scss'
import logo from '../assets/img/logo.svg'
import Donate from './Donate.astro'
---
<nav>
	<Donate />

	<div id=nav__upper>
		<div id="nav__upper__left">
			<i class="iconoir-facebook-tag"></i>
			<i class="iconoir-instagram"></i>
			<i class="iconoir-brain-research"></i>
		</div>
	
		<a href="/"><img src={ logo.src }></img></a>
	
		<div id="nav__upper__right">
			<a href="/donate/">Donate</a>
		</div>
		<div id="nav__secondary">
			<i class="iconoir-menu"></i>
		</div>
	</div>

	<div id="nav__middle">
		<a href="/about/">About</a>
		<a href="/education/">Education <i class="iconoir-nav-arrow-down"></i></a>
		<a href="/research/">Research <i class="iconoir-nav-arrow-down"></i></a>
		<a href="/photos/">Photo Gallery</a>
		<a href="/support/">Support</a>
	</div>
</nav>